<!-- Le form ici est quasi identique aux précédents -->
<!-- On a juste enlevé l'affichage qui sera à la charge du parent -->

<div>
    <form [formGroup]="article" (ngSubmit)="onSubmit()">
        <div>
            <label>Désignation :</label>
            <input type="text" formControlName="designation">
            <span *ngIf="submitted && form['designation'].invalid">
                * Désignation invalide
            </span>
        </div>
        <div>
            <label>Prix :</label>
            <input type="number" formControlName="prix">
            <span *ngIf="submitted && form['prix'].invalid">
                * Prix invalide
            </span>
        </div>
        <div>
            <button type="submit">Valider</button>
        </div>
    </form>
</div>
