<h2>First component</h2>
<app-first-component></app-first-component>

<h2>Carte de visite</h2>
<app-carte-visite></app-carte-visite>

<h2>Bouton d'alerte</h2>
<app-alert-button></app-alert-button>

<h2>Liste Component</h2>
<app-liste></app-liste>

<h2>Component magie</h2>
<app-magie></app-magie>

<h2>Component liste Filtre</h2>
<app-liste-filtre></app-liste-filtre>

<h2>Show date</h2>
<app-show-date></app-show-date>

<h2>Mes boutons génériques</h2>
<app-generic-alert-button buttonTitleEnfant="Ping" alertMessageEnfant="Pong"></app-generic-alert-button>
<app-generic-alert-button buttonTitleEnfant="Marco" alertMessageEnfant="Polo"></app-generic-alert-button>
<app-generic-alert-button buttonTitleEnfant="Philippe !" alertMessageEnfant="Je sais où tu te caches!!"></app-generic-alert-button>

<h2>Button Menu</h2>
<app-button-menu></app-button-menu>

<h2>Template Driven Form</h2>
<app-liste-courses></app-liste-courses>

<h2>Template Reactive Liste Courses</h2>
<app-reactive-liste-course></app-reactive-liste-course>

<h2> Template utilisation du Form builder</h2>
<app-form-builder-liste-courses></app-form-builder-liste-courses>

<h2>Formulaire utilisateurs</h2>
<app-formulaire-utilisateurs></app-formulaire-utilisateurs>

<h2>Output</h2>
<app-data-course></app-data-course>

<router-outlet></router-outlet>