<!-- utilisation de *ngFor pour afficher ma liste -->
<ul *ngFor="let article of articles">
    <!-- Affichera chaque article -->
    <li>{{article}}</li>
</ul>

<!-- Création du formulaire -->
<!-- Utilisation de la directive (ngSubmit) -->
<!-- C'est l'équivalent Angular de onSubmit -->

<form (ngSubmit)="addArticle()">
    <!-- Ajout d'un input, avec -->
    <input type="text" name="newArticle" [(ngModel)]="newArticle">
    <!-- Bouton pour valider le formulaire -->
    <button type="submit">Ajouter</button>
</form>
