<!-- Affiche tous les articles au fur et à mesure -->
<ul *ngFor="let article of articles">
    <!-- Montrer le prix et la designation -->
    <li>{{article.designation}} : {{article.prix}} €</li>
</ul>

<!-- Appel de notre getter pour afficher le prix total -->
<p>Total : {{totalPrice}} €</p>

<!-- Début de notre formulaire, déclarer notre FormGroup et l'action à réaliser -->
<form [formGroup]="article" (ngSubmit)="addArticle()">
    <label>
        Désignation:
        <input type="text" formControlName="designation">
    </label>
    <label>
        Désignation:
        <input type="number" formControlName="prix">
    </label>
    <!-- Modification du bouton submit qui sera désactivé si le formulaire n'est pas valide -->
    <button type="submit" [disabled]="!article.valid">Ajouter</button>
</form>